<app-nav-perfil></app-nav-perfil>


<div class="container">
<h2>{{ asignatura?.nombre }}</h2>

<fieldset>
    <legend><strong><h4>Apuntes</h4> </strong></legend>
    <ul *ngFor="let apunte of asignatura?.apuntes">
      <li><strong>Titulo:</strong> {{ apunte?.titulo }}</li>
      <li><strong>URL:</strong><a href="{{ apunte?.url }}"> {{ apunte?.url }}</a></li>
      <li><strong>Creador:</strong> {{ apunte?.autor }}</li>
      <li><strong>Fecha:</strong> {{ apunte?.fecha }}</li>
      <li><strong>Descripción:</strong> {{ apunte?.descripcion }}</li>         
    </ul>
    <button (click)='nav_formulario_add("apuntes")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
</fieldset>

<fieldset>
  <legend><strong><h4>Videos</h4> </strong></legend>
    <ul *ngFor="let video of asignatura?.videos">
      <li><strong>Titulo:</strong> {{ video?.titulo }}</li>
      <li><strong>URL:</strong><a href="{{ video?.url }}"> {{ video?.url }}</a></li>
      <li><strong>Creador:</strong> {{ video?.autor }}</li>
      <li><strong>Fecha:</strong> {{ video?.fecha }}</li>
      <li><strong>Descripción:</strong> {{ video?.descripcion }}</li>         
    </ul>
    <button (click)='nav_formulario_add("video")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
</fieldset>

<fieldset>
  <legend><strong><h4>Foro</h4> </strong></legend>
    <ul *ngFor="let post of asignatura?.foro">
      <li><strong>Tema: </strong><a href="/post/{{ post?._id }}"> {{ post?.titulo }}</a></li>
      <li><strong>Creador:</strong> {{ post?.autor }}</li>
      <li><strong>Fecha:</strong> {{ post?.fecha }}</li>      
    </ul>
    <button (click)='nav_formulario_add("post")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
</fieldset>



</div>

<!-- 


<h3>Videos</h3>
<ul>
  <li *ngFor="let video of asignatura?.videos">
    {{ video?.titulo }}
  </li>
  <button (click)='nav_formulario_add("video")'>añadir</button>
</ul>

<h3>Foro</h3>
<ul>
  <li *ngFor="let post of asignatura?.foro">
    {{ post?.titulo }}
  </li>
  <button (click)='nav_formulario_add("post")'>añadir</button>
</ul>

-->


<br>
<app-footer></app-footer>
