<app-nav-perfil></app-nav-perfil>


<div class="container">
<h2>Matemáticas</h2>

<fieldset>
    <legend><strong><h4>Apuntes</h4> </strong></legend>
    <ul>
        <li><strong>Titulo:</strong> Como sumar</li>
        <li><strong>URL:</strong><a href=""> Como sumar</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Descripción:</strong> Como sumar</li>         
      </ul>
      <ul>
        <li><strong>Titulo:</strong> Como sumar</li>
        <li><strong>URL:</strong><a href=""> Como sumar</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Descripción:</strong> Como sumar</li>         
        </ul>
      <button (click)='nav_formulario_add("apuntes")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
      
   
</fieldset>

<fieldset>
    <legend><strong><h4>Videos</h4> </strong></legend>
    <ul>
        <li><strong>Titulo:</strong> Como sumar</li>
        <li><strong>URL:</strong><a href=""> Como sumar</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Descripción:</strong> Como sumar</li>         
      </ul>
      <ul>
        <li><strong>Titulo:</strong> Como sumar</li>
        <li><strong>URL:</strong><a href=""> Como sumar</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Descripción:</strong> Como sumar</li>         
        </ul>
        <button (click)='nav_formulario_add("video")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
      </fieldset>

<fieldset>
    <legend><strong><h4>Foro</h4> </strong></legend>
    <ul>
        <li><strong>Tema: </strong><a href="">cgfbgbb</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Número de mensajes:</strong> Como sumar</li>         
      </ul>
      <ul>
        <li><strong>Tema: </strong><a href="">cgfbgbb</a></li>
        <li><strong>Creador:</strong> Como sumar</li>
        <li><strong>Fecha:</strong> Como sumar</li>
        <li><strong>Número de mensajes:</strong> Como sumar</li>         
        </ul>
        <button (click)='nav_formulario_add("video")' class="waves-effect waves-light btn-small">Añadir<i class="material-icons right">send</i></button>
      </fieldset>



</div>

<!-- 
  <p>
  {{ asignatura?.nombre }}<br>
  {{ asignatura?.autor }}<br>
  {{ asignatura?.curso }}
</p>

<h3>Apuntes</h3>
<ul>
  <li *ngFor="let apunte of asignatura?.apuntes">
    {{ apunte?.titulo }}
  </li>
  <button (click)='nav_formulario_add("apuntes")'>añadir</button>
</ul>

<h3>Videos</h3>
<ul>
  <li *ngFor="let video of asignatura?.videos">
    {{ video?.titulo }}
  </li>
  <button (click)='nav_formulario_add("video")'>añadir</button>
</ul>

<h3>Foro</h3>
<ul>
  <li *ngFor="let post of asignatura?.foro">
    {{ post?.titulo }}
  </li>
  <button (click)='nav_formulario_add("post")'>añadir</button>
</ul>

-->


<br>
<app-footer></app-footer>
