<!--SLIDE-OUT-->
        <ul id="slide-out" class="sidenav">
            <li><div class="user-view">
              <div class="background">
              </div>
              <a href="#name"><span class="black-text name">John Doe</span></a>
              <a href="#email"><span class="black-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">subject</i>Crear asignatura</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!"><i class="material-icons">subject</i>Buscar asignatura</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!"><i class="material-icons">subject</i>Mis asignatura</a></li>
            <li><div class="divider"></div></li>
          </ul>
<!--SLIDE-OUT-->

      <nav>
       <div class="nav-wrapper">

         <a href="#" class="brand-logo">Diario de clase</a>
       </div>
      </nav>
      
      