
     <nav>
       <div class="nav-wrapper">
         <a href="#" class="brand-logo navi" style="margin-left:5%">Diario de clase</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a (click)="nav_crear_asignatura()">Crear asignatura</a></li>
           <li><a (click)="nav_buscar_asignaturas()">Buscar asignaturas</a></li>
           <li><a (click)="nav_mis_asignaturas()">Mis asignaturas</a></li>
           <!--<li><a (click)="nav_usuario()">USUARIO</a></li>-->
         </ul>
       </div>
     </nav>
    