<!--SLIDE-OUT-->
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
      </div>
      <a href="#name"><span class="black-text name">USUARIO</span></a>
      <a href="#email"><span class="black-text email">USUARIO@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">subject</i>Crear asignatura</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!"><i class="material-icons">subject</i>Buscar asignatura</a></li>
    <li><div class="divider"></div></li>
    <li><a href="#!"><i class="material-icons">subject</i>Mis asignatura</a></li>
    <li><div class="divider"></div></li>
  </ul>
<!--SLIDE-OUT-->

     <nav>
       <div class="nav-wrapper">
         <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <a href="index.html" class="brand-logo navi"><i class="material-icons">library_books</i>Diario de clase</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><a (click)="nav_crear_asignatura()">Crear asignatura</a></li>
           <li><a (click)="nav_buscar_asignaturas()">Buscar asignaturas</a></li>
           <li><a (click)="nav_mis_asignaturas()">Mis asignaturas</a></li>
           <li><a (click)="nav_usuario()">USUARIO</a></li>
         </ul>
       </div>
     </nav>