<app-nav-perfil></app-nav-perfil>

<div class="container">
    <h2>Sube tu comentario</h2>
    <fieldset>
        <form>
            <div> 
                <label for="titulo_comentario">Título: </label>
                <input type="text" name="titulo_comentario" id="titulo_comentario" #nombre_asig >
            
                <label for="comentario">Comentario: </label>
                <textarea name="message" rows="10" cols="30" #comentario></textarea>
             
                <button type=submit (click)="subir_comentario(titulo_comentario, comentario)" name=subir_comentario class="waves-effect waves-light btn-small">Enviar<i class="material-icons right">send</i></button>
            </div>    
        </form>
    </fieldset>
</div>
<app-footer></app-footer>
