<app-nav-perfil></app-nav-perfil>

<div class="container">
  <h2>Sube tus apuntes</h2>
    <fieldset>
        <form>
            <div> 
                <label for="titulo_apuntes">Título: </label>
                <input type="text" name="titulo_apuntes" id="titulo_apuntes" #titulo_apuntes >
            
                <label for="url_apuntes">Url: </label>
                <input type="text" name="url_apuntes" id="url_apuntes" #url_apuntes>
                
                <label for="descripcion_apuntes">Descripción: </label>
                <textarea name="message" rows="10" cols="30" #descripcion_apuntes></textarea>

                <button type=submit (click)="subir_apuntes(titulo_apuntes, url_apuntes,descripcion_apuntes)" name=subir_apuntes  class="waves-effect waves-light btn-small">Subir<i class="material-icons right">send</i></button>
            </div>    
        </form>
    </fieldset>
</div>
<app-footer></app-footer>
