<app-nav-perfil></app-nav-perfil>

<div class="container">
  <div id="relleno">METER PAJA</div>  
    <fieldset>
        <legend><strong> Subir apuntes </strong></legend>
        <form>
            <div> 
                <label for="titulo_apuntes">Título: </label>
                <input type="text" name="titulo_apuntes" id="titulo_apuntes" #titulo_apuntes >
            
                <label for="url_apuntes">Url: </label>
                <input type="text" name="url_apuntes" id="url_apuntes" #url_apuntes>
                
                <label for="descripcion_apuntes">Url: </label>
                <textarea name="message" rows="10" cols="30" #descripcion_apuntes></textarea>

             
                <button type=submit (click)="subir_apuntes(titulo_apuntes, url_apuntes,descripcion_apuntes)" name=subir_apuntes>Crear</button>
            </div>    
        </form>
    </fieldset>
</div>
<app-footer></app-footer>
