<app-nav-perfil></app-nav-perfil>

<div class="container">
  <h2>{{ post?.titulo }}</h2>
    
  <fieldset>
        <ul>
            <li><strong>Comentario</strong></li>
            <li>de {{post?.autor}} - {{post?.fecha}}</li>
            <li>{{post?.comentario}}</li>         
        </ul>
        <br>

        <h4>Respuestas</h4>
        <div *ngFor="let respuesta of post?.respuestas">
            <ul>
                <li><strong>Primera respuesta</strong></li>
                <li>de {{respuesta.autor}} - {{respuesta.fecha}}</li>
                <li>{{respuesta.comentario}}</li>         
            </ul> <br>
        </div>
    </fieldset>

    <br>
    <fieldset>
        <form>
            <div> 
                <label for="comentario">Comentario: </label>
                <textarea name="message" rows="10" cols="30" #comentario></textarea>
             
                <button type=submit (click)="responder(comentario)" name=subir_respuesta class="waves-effect waves-light btn-small">Responder<i class="material-icons right">send</i></button>
            </div>    
        </form>
    </fieldset>
</div>
<br>
<app-footer></app-footer>
