<app-nav-perfil></app-nav-perfil>

<div class="container">  
  <h2>Tus asignaturas</h2>

  <fieldset>
      <legend><strong> Mátematicas </strong></legend>      
          <li>   Curso: 3</li>
          <li>   Creador: 3</li>   
  </fieldset>
  <br>
  <fieldset>
      <legend><strong> lengnua </strong></legend>      
          <li>   Curso: 3</li>
          <li>   Creador: 3</li>   
  </fieldset>


  <!--
  <ul>
    <li *ngFor="let item of asignaturas">
      codigo: <button (click)="nav_asignatura(item)">{{ item }}</button>
    </li>
  </ul>
-->
</div>

<br>
<app-footer></app-footer>
