 <div class="grid-example col l4 m6 s6 sesion">
    <fieldset>
        <legend><strong> Inicio de sesi&oacute;n </strong></legend>
        <form>
            <label for="Nombre">Usuario: </label>
            <input type="text" placeholder="Usuario" name="usuario2" id="usuario2" #usuario2><br><br>
            <label for="Nombre">Contrase&ntilde;a: </label>
            <input type="password" name="contrasena2" id="contrasena2" placeholder="Contrase&ntilde;a" #contrasena2><br><br>
            <button type=submit (click)="enviar(nombre1, usuario1, contrasena1)" name=registrarse>Regitrarse</button>
        </form>
    </fieldset>
</div>
