 <div class="grid-example col l4 m6 s6 sesion">
    <fieldset>
        <legend><strong>{{text}} </strong></legend>
        <form id="contact-form" [formGroup]="contactForm">
            <div class="form-group">
                <label for="Nombre">Usuario: </label>
                <input type="text"  class="form-control" formControlName="usuario2" placeholder="Usuario" name="usuario2" id="usuario2" #usuario2><br><br>
                <label for="Nombre">Contrase&ntilde;a: </label>
                <input type="password" class="form-control" formControlName="contrasena2" name="contrasena2" id="contrasena2" placeholder="Contrase&ntilde;a" #contrasena2><br><br>
                <button type=submit (click)="inicio_sesion(usuario2, contrasena2)" name=registrarse class="waves-effect waves-light btn-small">Entrar<i class="material-icons right">send</i></button>
            </div>        
        </form>
    </fieldset>
</div>
