 <div class="grid-example col l4 m6 s6 sesion">
    <fieldset>
        <legend><strong> Registro </strong></legend>
        <form>
            <label for="Nombre">Nombre: </label>
            <input type="text" placeholder="Nombre" name="nombre1" id="nombre1" #nombre1 ><br><br>
            <label for="Nombre">Usuario: </label>
            <input type="text" placeholder="Usuario" name="usuario" id="usuario" #usuario1><br><br>
            <label for="Nombre">Contrase&ntilde;a: </label>
            <input type="password" name="contrasena1" id="contrasena1" placeholder="Contrase&ntilde;a" #contrasena1><br><br>
            <button type=submit (click)="enviar(nombre1, usuario1, contrasena1)" name=registrarse>Registrarse</button>
        </form>
    </fieldset>
</div>
